#group5 {
  height: 160px;
  width: 320px;
  top: 54%; 
  right: 25%;
}

.image-group #g5m1 {
  bottom: 4px;
  left: 4px;
  width: 80px;
  z-index: 1;
}

.image-group #g5m2 {
  top: 4px;
  left: 50px;
  width: 75px;
  z-index: 0;
}

.image-group #g5m3 {
  top: 10px;
  left: 120px;
  width: 100px;
}

.image-group #g5m4 {
  top: 90px;
  right: 50px;
  width: 70px;
  z-index: 1;
}

.image-group #g5m5 {
  top: 70px;
  right: 4px;
  width: 70px;
}